* {
  color: hsl(0.0, 0.0%, 100.0%);
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: "Foo";
  src: url("foo.woff");
}
* {
  font-family: sans-serif;
}
* {
  font-family: "Roboto", "Arial", sans-serif;
}
*.fade-to-black {
  background-image: linear-gradient(180deg, hsl(0.0, 0.0%, 100.0%), 70%, hsl(0.0, 0.0%, 0.0%));
}
*::placeholder {
  color: currentColor;
}
* {
  transition-property: margin-left;
}